<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>59974066852-vddiec4ko16i6qre3o5rfe5bj1t5hvu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59974066852-vddiec4ko16i6qre3o5rfe5bj1t5hvu3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-7UhphHTdmoCEYD6Pq3xa6dtaCDhQGCc</string>
	<key>GCM_SENDER_ID</key>
	<string>59974066852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Study.FireBaseStudy</string>
	<key>PROJECT_ID</key>
	<string>fir-19a37</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-19a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:59974066852:ios:aad5e1bb89cae0f1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-19a37.firebaseio.com</string>
</dict>
</plist>